In [2]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("Noah_5Years_003.csv", skiprows=4)
df = df[['Timestamp', 'Noah - Water Use (gal)']]
df = df.tail(1000).reset_index(drop = True)
df['Timestamp'].str.extract('(?P<Date>\d{4}-\d{2}-\d{2}) (?P<Time>\d{2}:\d{2})')

           Date   Time
0    2023-01-01  05:45
1    2023-01-01  06:00
2    2023-01-01  06:15
3    2023-01-01  06:30
4    2023-01-01  06:45
..          ...    ...
995  2023-01-11  14:30
996  2023-01-11  14:45
997  2023-01-11  15:00
998  2023-01-11  15:15
999  2023-01-11  15:30

[1000 rows x 2 columns]